<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Eliminar</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>
<body>
	<div class="container mt-4">
		<div class="col-md-12">
			<form th:action="@{/delete}" th:object="${cliente}" method="POST">
				<h3>Agregar Usuario</h3>
					<div class="form-group">
						<input th:field="*{dnicliente}"  type ="text" class="form-control"/>
					</div>
					<div class="form-group">
						<label>Nombres</label>
						<input th:field="*{nombres}"  type ="text" readonly="readonly" class="form-control"/>
					</div>
					<div class="form-group">
						
						<input th:field="*{apellidos}"  type ="hidden" class="form-control"/>
					</div>
					
					<div class="form-group">
						
						<input th:field="*{direccion}"  type ="hidden" class="form-control"/>
					</div>
					<div class="form-group">
						
						<input th:field="*{distrito}"  type ="hidden" class="form-control"/>
					</div>
					<div class="form-group">
						
						<input th:field="*{provincia}"  type ="hidden" class="form-control"/>
					</div>
					<div class="form-group">

						<input th:field="*{telefono}"  type ="hidden" class="form-control"/>
					</div>
					<div class="form-group">
						<input th:field="*{correo}"  type ="hidden" class="form-control"/>
					</div>
					<div class="form-group">
						<input th:field="*{estado}"  type ="hidden" class="form-control"/>
					</div>
					<br/>
					
					<button class="btn btn-danger" type="submit" >Eliminar</button>
					<button th:href="@{/Listar}" class="btn btn-danger" type="submit" >Cancelar</button>
			</form>
		</div>
	</div>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
	

</body>
</html>