<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Agregar Usuario</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>
<body>
	<div class="container mt-4">
		<div class="col-md-12">
			<form th:action="@{/save}" th:object="${cliente}" method="POST">
				<h3>Agregar Usuario</h3>
					<div class="form-group">
						<label>DNI</label>
						<input th:field="*{dnicliente}"  type ="text" class="form-control" required/>
					</div>
					<div class="form-group">
						<label>Nombres</label>
						<input th:field="*{nombres}"  type ="text" class="form-control" required/>
					</div>
					<div class="form-group">
						<label>Apellidos</label>
						<input th:field="*{apellidos}"  type ="text" class="form-control" required/>
					</div>
			
					<div class="form-group">
						<label>Direccion</label>
						<input th:field="*{direccion}"  type ="text" class="form-control" required/>
					</div>
					<div class="form-group">
						<label>Distrito</label>
						<input th:field="*{distrito}"  type ="text" class="form-control" required/>
					</div>
					<div class="form-group">
						<label>provincia</label>
						<input th:field="*{provincia}"  type ="text" class="form-control" required/>
					</div>
					<div class="form-group">
						<label>Telefono</label>
						<input th:field="*{telefono}"  type ="text" class="form-control" required/>
					</div>
					<div class="form-group">
						<label>Correo</label>
						<input th:field="*{correo}"  type ="email" class="form-control" required/>
					</div>
					<br/>
					
					<button class="btn btn-primary" type="submit" >Guardar</button>
			</form>
		</div>
	</div>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</body>
</html>